[Desktop Entry]
Version=1.0
Name=ShopnoOS ROM Installer
Comment=Install more retropie roms
Exec=/usr/bin/bash /usr/lib/shopno-os/shopno-os-rom-installer
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=applications-games
Categories=system;games;
StartupWMClass=rom_installer
StartupNotify=true
Keywords=games;retropie;console;
